body {
    text-align: center;
  }

  #statux__name {
    font-weight: bold;
    color: #00afab;
  }

  #header {
    height: 10vh;
  }

  #main {
    height: 85vh;
  }

  #footer {
    height: 5vh;
  }